<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
		<h1>About</h1>
	    <h3>Terms of Service</h3>
	    <p>By using the pool you accept all possible risks related to experimental software usage.<br/>
		 Pool owner can't compensate any irreversible losses, but will do his best to prevent worst case.
	    </p>
	    <h3>Details</h3>
	    <p>
		  <ul>
		    <li>Written in Go it's a rocket highly concurrent and low RAM consuming piece of code</li>
		    <li>High performance proxy</li>
		    <li>Payouts and block unlocking module</li>
		    <li>Designed for 100% distributed setup</li>
		    <li>Strict policy module</li>
		  </ul>
	    </p>
	  </div>
	</div>
  </div>
</div>
