<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="alert alert-danger alert-dismissible">
	    <img src="OIP.jpg" width="16" height="16"><strong>STATS API server down! </strong><br>
		<div class="small">Usually it's just a temporary issue and mining is not affected.</div>
	  </div>
	</div>
  </div>
</div>
