<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <h1 class="text-black"> How to get started</h1>
	</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead"> Settings for lolMiner </p>
	    <p class="text-black"> --algo ETCHASH --pool <span class="text-green">etc.miningpub.uk:8008</span> --user YOUR_WALLET_ADDRESS.RIG_ID </p>
	  </div>
	</div>
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead"> Settings for GMiner </p>
	    <p class="text-black"> --algo etchash --server <span class="text-green">etc.miningpub.uk:8008</span> --user YOUR_WALLET_ADDRESS.RIG_ID </p>
	  </div>
	</div>
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead"> Settings for T-Rex </p>
	    <p class="text-black"> -a etchash -o <span class="text-green">stratum+tcp://etc.miningpub.uk:8008</span> -u YOUR_WALLET_ADDRESS -w RIG_ID -p x </p>
	  </div>
	</div>
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead"> Settings for Team Red Miner </p>
	    <p class="text-black"> -a ethash -o <span class="text-green">stratum+tcp://etc.miningpub.uk:8008</span> -u YOUR_WALLET_ADDRESS.RIG_ID -p x </p>
	  </div>
	</div>
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead"> Settings for NBminer </p>
	    <p class="text-black"> -a etchash -o <span class="text-green">stratum+tcp://etc.miningpub.uk:8008</span> -u YOUR_WALLET_ADDRESS.RIG_ID </p>
	  </div>
	</div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    <p class="lead"> Settings for MiningRigRentals.com </p>
	    <p class="text-black">
		  <strong>Name:</strong> MiningPub ETC<br>
		  <strong>Type:</strong> ETChash<br>
		  <strong>Pool Host:</strong> <span class="text-green">etc.miningpub.uk:8008</span><br>
		  <strong>Workername (-u):</strong> YOUR_WALLET_ADDRESS<br>
		  <strong>Password (-p):</strong> x
		</p>
	  </div>
	</div>
  </div>
</div>
